@charset "UTF-8";
/*
sabisagi    6699A1 メイン背景色
sabionando  336774 サブ背景色
hakuro      FCFAF2 文字色
kincha      C7802D 送信ボタン背景色
shironezumi BDC0BA メニューバー色
ginsyu      C73E3A エラー文字色
*/

body{
	background-color: #6699A1;
	width: 95vw;
	display: grid;
	grid-template-columns:auto auto;
}
div.mainContents{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: inline-block;
	color: #FCFAF2;
	background-color: #6699A1;
	width: calc(90vw - 300px);
	min-height: 350px;
	height: auto !important;
	text-align: center;
	 vertical-align: top;
}
div.validationArea{
	display: inline-block;
	top: 5px;
	text-align: left;
	color: #C73E3A;
	font-weight: bolder;
	font-size: large;
}
div.sideMenu {
	grid-column: 2 / 3;
	display: inline-block;
	vertical-align: top;
	width: 250px;
	min-height: 550px;
	height: auto !important;
	text-align: center;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  background-color: transparent;
  color: #FCFAF2;
  text-align: center;
	vertical-align: top;
	width: 200px;
	top: 0;
	margin: auto;
}
input#stickyButton {
	width: 150px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	background-color: #336774;
	color: #FCFAF2;
	transition: .3s;
}
input#stickyButton:hover {
	background-color: #C7802D;
}
div.userInfo {
	text-align: center;
}
div.editArea {
	margin: auto;
}
div.editArea form {
	display: grid;
	grid-template-columns: 200px 300px;
	justify-content: center;
}
div.editArea label {
	grid-column: 1 / 2;
	text-align: left;
}
div.editArea input, button {
	grid-column: 2 / 3;
}
input#submit_button {
	color: #FCFAF2;
	transition: .3s;
	background-color: #336774;
}
input#submit_button:hover {
	background-color: #C7802D;
}
/* for footer */
/* ---------------------------------------------------------- */
footer{
	grid-column: 1 / 3;
	grid-row: 2 / 3;
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #336774;
}
footer address{
	color: #FCFAF2;
    letter-spacing: 5px;
    font-style: normal;
}
/* ---------------------------------------------------------- */