@charset "UTF-8";
/*
sabisagi    6699A1 メイン背景色
sabionando  336774 サブ背景色
hakuro      FCFAF2 文字色
kincha      C7802D 送信ボタン背景色
shironezumi BDC0BA メニューバー色
ginsyu      C73E3A エラー文字色
*/

body{
	background-color: #6699A1;
	width: 95vw;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 100px auto auto;
	margin: auto;
}
div.searchHeader {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	margin: auto;
	text-align: center;
	color: #FCFAF2;
}
div.searchHeader form {
	grid-template-columns: auto auto auto;
	justify-content: center;
}
div.searchHeader label {
	grid-column: 1 / 2;
	text-align: left;
}
div.searchHeader input{
	grid-column: 2 / 3;
}
div.searchHeader button {
	grid-column: 3 / 4;
}
div.searchDateHeader {
	grid-column: 3 / 5;
	grid-row: 1 / 2;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 0px;
	color: #FCFAF2;
}
div.searchDateHeader form {
	grid-template-columns: auto auto auto auto;
	justify-content: center;
}
div.searchDateHeader label {
	grid-column: 1 / 2;
	text-align: left;
}
div.searchDateHeader input {
	grid-column: 2 / 3;
}
div.searchDateHeader button {
	grid-column: 4 / 5;
}
div.mainContents{
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	color: #FCFAF2;
	background-color: #6699A1;
	min-height: 350px;
	height: auto !important;
	text-align: center;
	 vertical-align: top;
	 display: grid;
	margin: auto;
}
div.validationArea{
	top: 5px;
	margin: auto;
	color: #C73E3A;
	font-weight: bolder;
	font-size: large;
}
div.sideMenu {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	vertical-align: top;
	width: 250px;
	height: auto;
	text-align: center;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  background-color: transparent;
  color: #FCFAF2;
  text-align: center;
	vertical-align: top;
	width: 200px;
	margin: auto;
	top: 0;
}
input#stickyButton {
	width: 150px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	background-color: #336774;
	color: #FCFAF2;
	transition: .3s;
}
input#stickyButton:hover {
	background-color: #C7802D;
}
div.userInfo {
	text-align: center;
}
textarea {
	resize: vertical;
	overflow: auto;
	background-color: transparent;
	color: #FCFAF2;
	line-height: 1.55em;
}
div.deleteButton {
	text-align: right;
}
input#submit_button {
	color: #FCFAF2;
	transition: .3s;
	background-color: #336774;
	width: 150px;
}
input#submit_button:hover {
	background-color: #C7802D;
}
div.postInfo {
	display: grid;
	grid-template-columns: auto auto auto auto auto 380px;
	grid-template-rows: auto auto auto auto;
	border-top: 4px solid #96ceb4;
	border-left: 4px solid #96ceb4;
	border-right: 4px solid #96ceb4;
	border-bottom: 4px solid #96ceb4;
}
div.titleArea {
	grid-column: 1 / 7;
	grid-rows: 1 / 2;
	border-bottom: 4px solid #96ceb4;
	font-size: xx-large;
	font-weight: bolder;
	padding: 10px;
}
div.nameArea {
	grid-column: 1 / 3;
	grid-rows: 2 / 3;
	border-bottom: 4px solid #96ceb4;
	padding: 5px;
}
div.dateArea {
	grid-column: 3 / 5;
	grid-rows: 2 / 3;
	border-bottom: 4px solid #96ceb4;
	padding: 5px;
}
div.categoryArea {
	grid-column: 5 / 7;
	grid-rows: 2 / 3;
	border-bottom: 4px solid #96ceb4;
	padding: 5px;
}
div.postArea {
	grid-column: 1 / 7;
	grid-rows: 3 / 4;
	border-bottom: 4px solid #96ceb4;
	text-align: left;
	line-height: 1.5em;
}
div.commentArea {
	grid-column: 1 / 5;
	grid-rows: 4 / 5;
	border-right: 4px solid #96ceb4;
	text-align: left;
}
div.eachComment {
	display: grid;
	grid-template-columns: auto auto auto 180px;
	grid-template-rows: auto auto;
}
div.statement {
	grid-column: 1 / 5;
	grid-rows: 1 / 2;
	line-height: 1.5em;
}
div.commentInfo {
	grid-column: 1 / 4;
	grid-rows: 2 / 3;
	text-align: left;
}
div.commentDelete {
	grid-column: 4 / 5;
	grid-rows: 2 / 3;
	text-align: right;
}
div.inputArea {
	grid-column: 5 / 7;
	grid-rows: 4 / 5;
	display: gird;
}
/* for footer */
/* ---------------------------------------------------------- */
footer{
	grid-column: 1 / 5;
	grid-row: 3 / 4;
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #336774;
}
footer address{
	color: #FCFAF2;
    letter-spacing: 5px;
    font-style: normal;
}
/* ---------------------------------------------------------- */