@charset "UTF-8";

/*
sabisagi    6699A1 メイン背景色
sabionando  336774 サブ背景色
hakuro      FCFAF2 文字色
kincha      C7802D 送信ボタン背景色
shironezumi BDC0BA メニューバー色
ginsyu      C73E3A エラー文字色
*/

/*for body including main contents*/
body{
	background-color: #6699A1;
	width: 95vw;
	margin: auto;
}

div.mainContents{
	color: #FCFAF2;
	background-color: #6699A1;
	width: calc(95vw - 200px);
	min-height: 350px;
}

div.center {
	margin: auto;
	text-align: center;
}

.loginHeading {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;

}

.loginHeading:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #336774;
  border-radius: 2px;
}

div.LoginArea{
	text-align: center;
	padding-bottom: 30px;
}

input#submit_button {
	color: #FCFAF2;
	transition: .3s;
	background-color: #336774;
}

input#submit_button:hover {
	background-color: #C7802D;
}

/* for footer */
/* ---------------------------------------------------------- */
footer{
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #336774;
}
footer address{
	color: #FCFAF2;
    letter-spacing: 5px;
    font-style: normal;
}